body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 1.8em;
  text-align: center;
  margin: 0;
  padding: 15px 0 5px;
}

h2 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@-webkit-keyframes appearGradually {
  from {
    position: relative;
    left: 400px;
  }
  to {
    position: relative;
    left: 0;
  }
}

@keyframes appearGradually {
  from {
    position: relative;
    left: 400px;
  }
  to {
    position: relative;
    left: 0;
  }
}

#first-item {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#second-item {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

#third-item {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

#fourth-item {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

#fifth-item {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

#sixth-item {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

#seventh-item {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

#eith-item {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

#nineth-item {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

@-webkit-keyframes appearGraduallyPart {
  from {
    position: relative;
    left: 400px;
    opacity: 0;
  }
  to {
    position: relative;
    left: 0;
    opacity: 1;
  }
}

@keyframes appearGraduallyPart {
  from {
    position: relative;
    left: 400px;
    opacity: 0;
  }
  to {
    position: relative;
    left: 0;
    opacity: 1;
  }
}

#part1 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#part2 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

#part3 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes spinner {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes spinner {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes spinnerRotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinnerRotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loader {
  position: absolute;
  z-index: 1000;
  height: 100vh;
  width: 100%;
  background-color: white;
  color: #9356DC;
  -webkit-animation: 3s linear spinner forwards;
          animation: 3s linear spinner forwards;
}

.loader > div {
  position: absolute;
  left: 45%;
  top: 30%;
  font-size: 3em;
  -webkit-animation: 3s linear spinnerRotation infinite;
          animation: 3s linear spinnerRotation infinite;
}

header {
  margin-bottom: 3px;
  -webkit-box-shadow: 0 3px 5px lightgray;
          box-shadow: 0 3px 5px lightgray;
}

.location {
  text-align: center;
  background-color: #eaeaea;
  padding: 15px;
}

.site-hook {
  text-align: center;
  background-color: #f6f6f6;
  padding: 40px 30px;
}

.site-hook__subtitle {
  font-weight: 100;
}

.site-hook__btn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  padding: 17px 22px;
  margin: 30px auto;
  -webkit-box-shadow: 3px 5px 10px #adadad;
          box-shadow: 3px 5px 10px #adadad;
}

a.site-hook__btn:hover, a.menu__btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff46cc), to(#782cd3));
  background: linear-gradient(#ff46cc, #782cd3);
  -webkit-box-shadow: 3px 5px 10px #888888;
          box-shadow: 3px 5px 10px #888888;
}

.working {
  margin: 50px 20px;
}

.working__step {
  background-color: #f6f6f6;
  padding: 5px;
  margin: 20px auto;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 0px 10px lightgrey;
          box-shadow: 0px 0px 10px lightgrey;
  width: 90%;
}

.working__step__number {
  position: relative;
  left: -15px;
  color: white;
  background-color: #9356DC;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
}

.working__step__number span {
  font-size: 0.8em;
  vertical-align: middle;
}

.working__step i {
  padding-right: 10px;
}

.restaurant {
  background-color: #f6f6f6;
  padding: 50px 20px;
}

.restaurant h3, .restaurant p {
  margin: 0;
}

.restaurant h3 {
  font-size: 1.1em;
}

.restaurant__card {
  position: relative;
  background-color: white;
  border-radius: 15px;
  margin: 20px auto;
}

.restaurant__card__tag {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  color: #008766;
  background-color: #99e2d0;
  padding: 5px 10px;
  border-radius: 2px;
  font-size: 0.8em;
  font-weight: 300;
}

.restaurant__card__image {
  height: 150px;
}

.restaurant__card__image img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.restaurant__card__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 12px;
}

.restaurant__card__description p {
  padding: 3px 0;
}

.restaurant__card__description div:last-child {
  font-size: 1.5em;
  font-weight: 100;
  padding: 10px;
}

.restaurant__card__description div:last-child .fas.fa-heart {
  padding: 2px;
  -webkit-text-stroke: 1px black;
  color: white;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.restaurant__card__description div:last-child .fas.fa-heart:hover {
  -webkit-text-stroke: 1px transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  color: transparent;
}

footer {
  color: white;
  background-color: #353535;
  padding: 5px 20px 20px;
}

footer h4 {
  font-family: 'Shrikhand', cursive;
  letter-spacing: 1px;
  margin: 15px 0;
}

footer p {
  margin: 5px 0;
  font-size: 0.9em;
  font-weight: 300;
}

footer p i {
  padding-right: 5px;
}

.menu_page header {
  position: relative;
  margin-bottom: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu_page header .fa-arrow-left {
  position: absolute;
  top: 23px;
  left: 25px;
  font-size: 1.4em;
  color: #353535;
}

.menu_page main {
  background-color: #f6f6f6;
}

.menu_page .menu {
  background-color: #f6f6f6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  top: -50px;
  padding: 35px 20px;
  overflow: hidden;
}

.menu_page .menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu_page .menu__header h2 {
  font-family: 'Shrikhand', cursive;
}

.menu_page .menu__header h2::first-letter {
  text-transform: capitalize;
}

.menu_page .menu__header .fa-heart {
  font-size: 1.6em;
  padding-right: 20px;
  -webkit-text-stroke: 1px black;
  color: white;
}

.menu_page .menu__part {
  margin: 20px auto;
  -webkit-animation: 1s linear appearGraduallyPart forwards;
          animation: 1s linear appearGraduallyPart forwards;
  position: relative;
  left: 400px;
}

.menu_page .menu__part h3 {
  font-weight: 100;
  text-transform: uppercase;
  position: relative;
}

.menu_page .menu__part h3::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 45px;
  height: 2px;
  background-color: #99e2d0;
}

.menu_page .menu__part__item {
  background-color: white;
  border-radius: 10px;
  margin: 15px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 4px lightgrey;
          box-shadow: 0 0 4px lightgrey;
  overflow: hidden;
}

.menu_page .menu__part__item p, .menu_page .menu__part__item h4 {
  margin: 0;
}

.menu_page .menu__part__item > div:first-of-type {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  padding: 10px 15px 10px 10px;
}

.menu_page .menu__part__item:hover .menu__part__item__check {
  right: 0;
}

.menu_page .menu__part__item:hover .menu__part__item__check .fa-check-circle {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.menu_page .menu__part__item:hover .menu__part__item__description p:last-of-type {
  right: 0;
}

.menu_page .menu__part__item__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.menu_page .menu__part__item__description p:first-of-type {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu_page .menu__part__item__description p:last-of-type {
  position: relative;
  right: -40px;
  -webkit-transition: right 500ms;
  transition: right 500ms;
}

.menu_page .menu__part__item__check {
  position: relative;
  right: -70px;
  background-color: #99e2d0;
  padding: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: right 500ms;
  transition: right 500ms;
}

.menu_page .menu__part__item__check .fa-check-circle {
  display: block;
  color: white;
  font-size: 1.4em;
  padding: 4px;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.menu_page .menu__btn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  margin: 20px auto;
  padding: 15px 50px;
  -webkit-box-shadow: 3px 5px 10px #adadad;
          box-shadow: 3px 5px 10px #adadad;
}
/*# sourceMappingURL=main.css.map */