body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 1.8em;
  text-align: center;
  margin: 0;
  padding: 15px 0 5px;
}

h2 {
  margin: 0;
}

a {
  text-decoration: none;
  color: initial;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  margin-bottom: 3px;
  -webkit-box-shadow: 0 3px 5px lightgray;
          box-shadow: 0 3px 5px lightgray;
}

.location {
  text-align: center;
  background-color: #eaeaea;
  padding: 15px;
}

.site-hook {
  text-align: center;
  background-color: #f6f6f6;
  padding: 40px 30px;
}

.site-hook__subtitle {
  font-weight: 100;
}

.site-hook__btn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 20px;
  padding: 10px 15px;
  margin: 20px auto;
}

.working {
  margin: 50px 20px;
}

.working__step {
  background-color: #f6f6f6;
  padding: 5px;
  margin: 20px auto;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 0px 10px lightgrey;
          box-shadow: 0px 0px 10px lightgrey;
  width: 90%;
}

.working__step__number {
  position: relative;
  left: -15px;
  color: white;
  background-color: #9356DC;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
}

.working__step__number span {
  font-size: 0.8em;
  vertical-align: middle;
}

.working__step i {
  padding-right: 10px;
}

.restaurant {
  background-color: #f6f6f6;
  padding: 50px 20px;
}

.restaurant h3, .restaurant p {
  margin: 0;
}

.restaurant h3 {
  font-size: 1.1em;
}

.restaurant__card {
  position: relative;
  background-color: white;
  border-radius: 15px;
  margin: 20px auto;
}

.restaurant__card__tag {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  color: #008766;
  background-color: #99e2d0;
  padding: 5px 10px;
  border-radius: 2px;
  font-size: 0.8em;
  font-weight: 300;
}

.restaurant__card__image {
  height: 150px;
}

.restaurant__card__image img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.restaurant__card__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 12px;
}

.restaurant__card__description p {
  padding: 3px 0;
}

.restaurant__card__description div:last-child {
  font-size: 1.5em;
  font-weight: 100;
  padding: 10px;
}

.restaurant__card__description div:last-child .las.la-heart {
  color: #9356DC;
}

footer {
  color: white;
  background-color: #353535;
  padding: 5px 20px 20px;
}

footer h4 {
  font-family: 'Shrikhand', cursive;
  letter-spacing: 1px;
  margin: 15px 0;
}

footer p {
  margin: 5px 0;
  font-size: 0.9em;
  font-weight: 300;
}

footer p i {
  padding-right: 5px;
}

.menu_page header {
  position: relative;
  margin-bottom: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu_page header .la-arrow-left {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1.8em;
}

.menu_page main {
  background-color: #f6f6f6;
}

.menu_page .menu {
  background-color: #f6f6f6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  top: -50px;
  padding: 35px 20px;
}

.menu_page .menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu_page .menu__header h2 {
  font-family: 'Shrikhand', cursive;
}

.menu_page .menu__header h2::first-letter {
  text-transform: capitalize;
}

.menu_page .menu__header .la-heart {
  font-size: 1.8em;
  padding-right: 10px;
}

.menu_page .menu__part {
  margin: 20px auto;
}

.menu_page .menu__part h3 {
  font-weight: 100;
  text-transform: uppercase;
}

.menu_page .menu__part__item {
  background-color: white;
  border-radius: 10px;
  margin: 15px auto;
}

.menu_page .menu__part__item p, .menu_page .menu__part__item h4 {
  margin: 0;
}

.menu_page .menu__part__item__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_page .menu__btn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  margin: 20px auto;
  padding: 15px 50px;
}
/*# sourceMappingURL=main.css.map */